<!DOCTYPE html>
<html>
<head>
    <title>MEDcons</title>
    <link rel="stylesheet" type="text/css" href="medstyle.css">
    <link rel="icon" type="image/icon" href="logo.png" sizes="30">
</head>
<body>
    <div class="container">

        <div class="incont-verev"><h1 class="incont-verev-h1">MEDcons</h1></div>

        <div id="incont1" style="left: 80px"><img src="med1.jpg" width="263" height="177"><h3 class="incont-h3">header text</h3><br><p class="incont-p">paragrapph text</p></div>
        <!-- <div class="incont"><img src="med2.jpg" width="263 " height="177"><h3 class="incont-h3">header text</h3><br><p class="incont-p">paragraph text<br>txt</p></div> -->
        <div class="incont"><img src="med3.jpg" width="263" height="177"><h3 class="incont-h3">header text </h3><br><p class="incont-p">paragraph text</p></div>
        <div class="incont"><img src="med4.jpg" width="263" height="177"><h3 class="incont-h3">header text</h3><br><p class="incont-p">paragraph text<br></p></div>
    </div>

</body>

</html>


