<!DOCTYPE html>
<html>
<head>
    <title>MEDcons</title>
    <link rel="stylesheet" type="text/css" href="medstyle.css">
    <link rel="icon" type="image/icon" href="logo.png" sizes="30">
</head>
<body>
    <div class="conteiner">
        <h1 class="incont-verev-h1">MedCons</h1>
        <hr />

        <h2 class="incont-h3">header text</h2>
        <br>
        <p class="incont-p">paragrapph text</p>
        <img src="/img/med1.jpg" width="263 " height="177">

        <h2 class="incont-h3">header text</h2>
        <br>
        <p class="incont-p">paragraph text</p>
        <img src="/img/med2.jpg" width="263" height="177">

        <h2 class="incont-h3">header text</h2>
        <br>
        <p class="incont-p">paragraph text</p>
        <img src="/img/med3.jpg" width="263" height="177">
    </div>

</body>

</html>


