<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedicalConsultation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="wrapper">

                <ul class="menu-ul">
                    <li class="menu-li"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link menu-a" style="color: white; font-size: 21px;">Home</a></li>
                    <li class="menu-li"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link menu-a">About</a></li>
                    <li class="menu-li"><a href="medroom.html" class="menu-a">MEDroom</a></li>
                    <li class="menu-li"><a href="medcontact.html" class="menu-a">Contact</a></li>
                </ul>

            </div>
            <a asp-page="./Areas/Identity/Pages/Account/Register" class="spam-a"><spam class="as">Registration</spam></a>        
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <table class="footer-table">
                <tr>
                    <th class="th">Contact</th>
                    <!-- <th class="th">Account</th> -->
                    <th class="th">Company</th>
                    <th class="th"></th>
                </tr>
                <tr>
                    <td class="td"><a href="https://facebook.com" target="_blank" class="footer-a">Facebook</a></td>
                    <!-- <td class="td"><a href="" class="footer-a">Login</a></td> ste chmoranas stexces logini hamar sayty -->
                    <td class="td"><a href="" class="footer-a">About</a></td>
                </tr>
                <tr>
                    <td class="td"><a href="https://instagram.com" target="_blank" class="footer-a">Instagram</a></td>
                    <!-- <td class="td"><a href="" class="footer-a">Sign-Up</a></td> --><!-- ste chmoranas stexces logini hamar sayty nuynna inch vor vervi loginy nuyn hrefna linelu-->
                    <td class="td"></td>
                </tr>
                <tr>
                    <td class="td"><a href="https://gmail.com" target="_blank" class="footer-a">Gmail</a></td>
                    <td class="td"></td>
                    <td class="td"></td>
                </tr>
                <tr>
                    <td class="td"><a href="https://twitter.com" target="_blank" class="footer-a">Twitter</a></td>
                    <td class="td"></td>
                    <td class="td"></td>
                </tr>
            </table>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
