<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedicalConsultation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/medstyle.css" />

    <style>
        .footer {
            clear: both;
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #007cb0;
            margin-bottom: -60px;
        }

        .td {
            padding-left: 20px;
            padding-right: 50px;
        }

        .th {
            padding-left: 20px;
            padding-bottom: 20px;
            font-family: arial;
            padding-right: 100px;
            color: #1f1f1f;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="width: 100%;">
            <div class="wrapper">

                <ul class="menu-ul">
                    <li class="menu-li"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link menu-a" style="color: white; font-size: 21px;">Home</a></li>
                    <li class="menu-li"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link menu-a">About</a></li>
                    <li class="menu-li"><a href="medroom.html" class="nav-link menu-a">MEDroom</a></li>
                    <li class="menu-li"><a href="medcontact.html" class="nav-link menu-a">Contact</a></li>
                </ul>

            </div>

            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-area="Identity" asp-page="/Account/Register" class="spam-a" style="margin-bottom: 15px;"><spam class="as">Registration</spam></a>
                <a asp-area="Identity" asp-page="/Account/Login" class="spam-a" style="margin-bottom: 15px;"><spam class="as">Login</spam></a>
            }
            else
            {
                <p class="spam-a2" style="margin-bottom: 15px;">@User.Identity.Name</p>
                <a asp-area="Identity" asp-page="/Account/Logout" class="spam-a" style="margin-bottom: 15px;"><spam class="as">Logout</spam></a>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
        <table class="footer-table">
            <tr>
                <th class="th">Contact</th>-->
    <!-- <th class="th">Account</th> -->
    <!--<th class="th">Company</th>
        <th class="th"></th>
    </tr>
    <tr>
        <td class="td"><a href="https://facebook.com" target="_blank" class="footer-a">Facebook</a></td>-->
    <!-- <td class="td"><a href="" class="footer-a">Login</a></td> ste chmoranas stexces logini hamar sayty -->
    <!--<td class="td"><a href="" class="footer-a">About</a></td>
    </tr>
    <tr>
        <td class="td"><a href="https://instagram.com" target="_blank" class="footer-a">Instagram</a></td>-->
    <!-- <td class="td"><a href="" class="footer-a">Sign-Up</a></td> --><!-- ste chmoranas stexces logini hamar sayty nuynna inch vor vervi loginy nuyn hrefna linelu-->
    <!--<td class="td"></td>
            </tr>
            <tr>
                <td class="td"><a href="https://gmail.com" target="_blank" class="footer-a">Gmail</a></td>
                <td class="td"></td>
                <td class="td"></td>
            </tr>
            <tr>
                <td class="td"><a href="https://twitter.com" target="_blank" class="footer-a">Twitter</a></td>
                <td class="td"></td>
                <td class="td"></td>
            </tr>
        </table>
    </footer>-->
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <footer class="footer">
        <table class="footer-table">
            <tr style="padding: 10px;">
                <th class="th">Contact</th>
                <th class="th">Account</th>
                <th class="th">Company</th>
            </tr>
            <tr>
                <td class="td"><a href="https://facebook.com" target="_blank" class="footer-a">Facebook</a></td>
                <td class="td"><a asp-area="Identity" asp-page="/Account/Login" class="footer-a">Login</a></td> @*ste chmoranas stexces logini hamar sayty*@
                <td class="td"><a href="" class="footer-a">About</a></td>
            </tr>
            <tr>
                <td class="td"><a href="https://instagram.com" target="_blank" class="footer-a">Instagram</a></td>
                <td class="td"><a asp-area="Identity" asp-page="/Account/Register" class="footer-a">Sign-Up</a></td>  @*ste chmoranas stexces logini hamar sayty nuynna inch vor vervi loginy nuyn hrefna linelu*@
            </tr>
            <tr>
                <td class="td"><a href="https://gmail.com" target="_blank" class="footer-a">Gmail</a></td>
            </tr>
            <tr>
                <td class="td"><a href="https://twitter.com" target="_blank" class="footer-a">Twitter</a></td>

            </tr>
        </table>
    </footer>
</body>
</html>
